---
import Layout from '../../layouts/Layout.astro'

const title = "Test Site"
const description = "A test site for SSG"
---

<Layout title={title} description={description}>
	<article class="prose max-w-none">
		<h1>{title}</h1>
		<div>
# Welcome to SSG Test

This is a test page.
</div>
	</article>
</Layout>
