---
import Layout from '../../layouts/Layout.astro'

const title = "About"
const description = ""
---

<Layout title={title} description={description}>
	<article class="prose max-w-none">
		<h1>{title}</h1>
		<div>
## About This Site

This is the about page.
</div>
	</article>
</Layout>
